
* {
  font-family: 'Raleway', sans-serif;
}
// espresso:	#2B2211
// coffee: 	#4F3828
// latte:    #B28C5F
// #fff9f2
// capuccino #F0E4CC

// ~~~~~~~~~~~~~~~~~~~~~
// HIDE FORMS UNLESS SIGNED IN / SIGNED UP
// ~~~~~~~~~~~~~~~~~~~~~

.hidden {
  display: none;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
    top: 25%;
    left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: auto;
}
// .modal-body {
//   background-color: #e2f984;
// }

// /* Modal Content/Box */
// .modal-content {
//   // background-color: #e2f984;
//   // margin: 15% auto; /* 15% from the top and centered */
//   // padding: 20px;
//   border: 1px solid #888;
//   width: 80%; /* Could be more or less, depending on screen size */
// }

/* The Close Button */
.close {
  color: #9ece00;
  float: right;
  font-size: 24px;
  font-weight: 300;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body {
  background-color: #f0e4cd;
}

h3 {
  // color: #382f25;
  text-align: left;
  float: left;
  font-weight: 400;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > span {
  display: inline-block;
  float: right;
  width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   float: right;
}

fieldset {
  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  min-width: -webkit-min-content;
  border-width: 1px;
  // border-style: groove;
  // border-color: threedface;
  // border-image: initial;
}
legend {
  display: block;
    // -webkit-padding-start: 2px;
    // -webkit-padding-end: 2px;
    // border-width: initial;
    // border-style: none;
    // border-color: initial;
    // border-image: initial;
}

#notes {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
  height:100px;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    text-align: left;
}

input {
  display: inline-block;
  float: right;
  clear: right;
}

.submit {
  padding: 8px;
  margin: 10px;
  float: right;
}

input[type="submit"] {
  background-color:#B28C5F;
}
.active, .submit:hover {
    color: white;
    background-color: #78572e;
}

input[type="checkbox"] {
  zoom: 1.5;
}

.save {
  float: right;
}

.accordion {
    background-color: #b28c5e;
    color: #382f25;
    cursor: pointer;
    padding: 3vh;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 6vw;
    transition: 0.4s;
}

.active, .accordion:hover {
    color: white;
    background-color: #78572e;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: B28C5F;
    overflow: hidden;
}
